html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

.input_message {
    color:rgb(0, 119, 255);
    margin: 0;
    border: 2px solid rgb(0, 119, 255);
    font-size: 12px;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
   
  #chat-screen {
    border: 1px solid rgb(0, 119, 255);
    max-width: 520px;
    margin: 12px auto;
    text-align: center;
  }
  
  body {
    font-family: Arial;
    font-size: 16px;
  }
  
  header {
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 16px;
  }
